<form role="form" ng-hide="hideForm()">
  <div class="form-group">
    <label for="username">Username</label>
    <input ng-model="username" type="name" class="form-control" id="username" placeholder="Enter your username" required>
  </div>
  <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</form>

<div ng-show="hideForm()">
  <button style="float: right" type="button" class="btn btn-default btn-lg" ng-click="editUsername = true">
    <span class="glyphicon glyphicon-pencil"></span> Edit
  </button>
  <h2>Hello {{username}}</h2>
  <div style="clear: both"></div>
  <a style="float: right" class="btn btn-success btn-lg" ui-sref="AddRestaurant({username: username})">
    <span class="glyphicon glyphicon-plus"></span>Add
  </a>
  <h3>Restaurants</h3>
  <div style="clear: both"></div>
  <div class="row restaurant" ng-repeat="restaurant in restaurants | orderBy:'upVoteCount':true">
    <div class="well col-lg-1 col-md-1 col-sm-1 col-xs-2">
      <div class="votingButton" ng-click="upVote(restaurant)">
        <i class="glyphicon glyphicon-chevron-up paddingLeft1px"></i>
      </div>
      <div class="badge badge-overrides">
        <div>{{restaurant.upVoteCount}}</div>
      </div>
      <div class="votingButton" ng-click="downVote(restaurant)">
        <i class="glyphicon glyphicon-chevron-down a"></i>
      </div>
    </div>
    <div class="well col-lg-11 col-md-11 col-sm-11 col-xs-10">
      <h4 class="well-title">{{restaurant.name}}</h4>
      <span>{{restaurant.description}}</span>
      <br/>
      <a class="btn btn-default" href="{{restaurant.menuLink}}" target="_blank">Menu</a>
      <div id="voters-list" ng-if="restaurant.upVoters.length > 0">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="voterDiv" ng-repeat="voter in restaurant.upVoters">
          <span ng-if="!$last">{{voter.name}}, </span>
          <span ng-if="$last">{{voter.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


