<h3>Restaurants</h3>
<div class="row restaurant" ng-repeat="restaurant in restaurants | orderBy:'upVoteCount':true">
  <div class="well col-lg-1 col-md-1 col-sm-1 col-xs-2">
    <div class="votingButton" ng-click="upVote(restaurant)">
      <i class="glyphicon glyphicon-chevron-up paddingLeft1px"></i>
    </div>
    <div class="badge badge-overrides">
      <div>{{restaurant.upVoteCount}}</div>
    </div>
    <div class="votingButton" ng-click="downVote(restaurant)">
      <i class="glyphicon glyphicon-chevron-down a"></i>
    </div>
  </div>
  <div class="well col-lg-11 col-md-11 col-sm-11 col-xs-10">
    <h4 class="well-title">{{restaurant.name}}</h4>
    <span>{{restaurant.description}}</span>
  </div>
</div>


